<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MusicStoreAppInsights' in resource group 'MusicStore' -->
  <InstrumentationKey>cebede87-2651-4c92-b416-8c40b262bb42</InstrumentationKey>
</ApplicationInsights>